hr{
border-width: thick;
  border-color: #9772FB;
  margin: 10px;

}

body .info{
  border-style: double;
  border-color: #C21010;
  border-width: thick;
text-align: center;
color: #293462;

}
